.fullcv {
    --w: 595px;
    --h: 842px;
    width: var(--w);
    height: var(--h);
    background-color: red;
    position: relative;
    left: calc(50% - var(--w) / 2);
}

.sidebar {
    background-color: #233A5F;
    width: 210px;
    height: 842px;
    position: absolute;
}
.sidebar_content {
    position: absolute;
    top: 31px;
    left: 12px;
    width: 186px;
    height: 748px;
}
.profile_pic {
    width: 100px;
    height: 100px;
    background-image: url("images/profile_pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6E7885;
    border-radius: 100%;
}
.name {
    color: white;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    width: 166px;
    height: 27px;
    text-align: center;
    margin: 20px 0 0 0;
}
.job {
    color: #C3C2C2;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 10px;
    width: 98px;
    height: 15px;
    text-align: center;
    margin: 0 0 20px 0;
}
.box {
    display: block;
    width: 186px;
    height: 23px;
    padding: 4px, 8px, 4px, 8px;
    border-radius: 4px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    text-align: left;
    color: #233A5F;
}

.main {
    background-color: white;
    width: 385px;
    height: 842px;
    left: 210px;
    position: absolute;
}