.fullcv {
    --w: 595px;
    --h: 842px;
    width: var(--w);
    height: var(--h);
    background-color: red;
    position: relative;
    left: calc(50% - var(--w) / 2);
}

.sidebar {
    background-color: #233A5F;
    width: 210px;
    height: 842px;
    position: absolute;
}
.sidebar_content {
    position: absolute;
    top: 31px;
    left: 12px;
    width: 186px;
    height: 748px;
}
.profile_pic {
    width: 100px;
    height: 100px;
    background-image: url("images/profile_pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6E7885;
    border-radius: 100%;
}
.name {
    color: white;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 18px;
    width: 166px;
    height: 27px;
    text-align: center;
    margin: 20px 0 0 0;
}
.job {
    color: #C3C2C2;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 10px;
    width: 98px;
    height: 15px;
    text-align: center;
    margin: 0 0 20px 0;
}
.box {
    width: 186px;
    height: 23px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    text-align: left;
    color: #233A5F;
}

.sidebar_header {
    font-family: 'poppins';
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 8px;
}

.list1 {
    margin: 0 0 0 0;
    padding: 0 0 0 12px;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
}

.p1 {
    width: 186px;
    height: 15px;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.p2 {
    margin: 4px 0 0 0;
    font-family: 'Poppins';
    font-size: 8px;
    font-weight: 400;
    color: #C3C2C2;
}

.link_lines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 61px;
}
.line1 {
    display: flex;
    height: 15px;
}
.logo_link {
    height: 14px;
    width: 14px;
    margin-right: 8px;
}

.link1 {
    color: white;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 10px;
    margin-right: 16px;
    position: relative;
    
}  
.link1:hover {
    background-color: rgba(0, 121, 192, 0.458);
}

.main {
    background-color: white;
    width: 385px;
    height: 842px;
    left: 210px;
    position: absolute;
}
.main_content {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 321px;
    height: 754px;
}